@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="image-container">
    <img src="~/images/expense_classification.jpg" alt="Expense Classification" style="max-width: 100%; height: auto;" />
</div>
