@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration Confirmation";
}

<h1>Registration Successful</h1>
<p>
    Your account is pending approval by an administrator.
    We will let you know once your account has been approved.
</p>