@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Upload Transactions";
}
@{
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = await UserManager.IsInRoleAsync(user, "admin");
}

<h2>@ViewData["Title"]</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="Transactions" asp-action="Upload" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label>Select CSV File</label>
        <input type="file" name="file" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Upload</button>
</form>

@if (isAdmin)
{
    <form asp-action="DeleteAllTransactions" method="post" onsubmit="return confirm('Are you sure you want to delete all transactions?');" style="margin-top: 10px;">
        <button type="submit" class="btn btn-danger">Delete All Transactions (Only Admin)</button>
    </form>
}